@layer components {
  .box {
    box-shadow: theme("boxShadow.m3-1");
    background-color: theme("colors.m3.surface");
    border: 1px solid theme("colors.m3.outline-variant");
    border-radius: theme("borderRadius.m3-md");
    position: relative;
    &--stacked:before {
      content: "";
      z-index: -1;
      box-shadow: theme("boxShadow.sm");
      height: 100%;
      background-color: theme("colors.m3.surface-container-low");
      border: 1px solid theme("colors.m3.outline-variant");
      position: absolute;
      border-radius: theme("borderRadius.m3-md");
      inset-inline-start: theme("spacing[3.5]");
      inset-inline-end: theme("spacing[3.5]");
      top: 0;
      margin-top: theme("spacing.3");
    }
  }

  .dark {
    .box {
      background-color: theme("colors.m3.surface");
      border-color: theme("colors.m3.outline-variant");
      &--stacked:before {
        background-color: theme("colors.m3.surface-container-low" / 70%);
        border-color: theme("colors.m3.outline-variant");
      }
    }
  }
}
